body{
    background-color: black;
    color: antiquewhite;
    font-size: 150%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1.name{
    text-align: center;
    color: rgb(14, 231, 50);
}
pre.me {
    color: springgreen;
    font-size: 100%;
    padding: 11px;
    margin: 10px;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid green;
}
img.profile{
    width: 30%;
    height: 25%;
    float: right;
}
